version: '3.8'

services:
  app:
    build:
      context: ./
      dockerfile: ./.docker/app/Dockerfile
    container_name: symfony_app
    volumes:
    - ./app:/var/www/html
    ports:
    - '8000:8000'
    environment:
      APP_ENV: dev
      DATABASE_URL: 'mysql://symfony:symfony@db:3306/time_tracker?serverVersion=10.11&charset=utf8mb4'
    depends_on:
    - db

  db:
    image: mariadb:10.11
    container_name: symfony_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
    - '3306:3306'
    volumes:
    - db_data:/var/lib/mysql

  adminer:
    image: adminer:latest
    container_name: time_tracker_adminer
    restart: unless-stopped
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  db_data:
