{% extends 'base.html.twig' %}

{% block title %}Time Tracker!{% endblock %}

{% block body %}

<div
        data-controller="symfony--ux-react--react"
        data-symfony--ux-react--react-component-value="ReportWork"
    ></div>
{% endblock %}
