name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  quality:
    runs-on: ubuntu-latest
    services:
      db:
        image: mariadb:10.11
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: symfony
          MYSQL_USER: symfony
          MYSQL_PASSWORD: symfony
        ports: ['3306:3306']
        options: >-
          --health-cmd="mysqladmin ping -h localhost" --health-interval=5s --health-timeout=5s --health-retries=10

    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, pdo_mysql
      - name: Install composer deps
        run: composer install --no-progress --prefer-dist
        working-directory: ./app
      - name: Run cs fix (check)
        run: composer cs
        working-directory: ./app
      - name: Run static analysis
        run: composer analyse
        working-directory: ./app
      - name: Run tests
        run: composer test
        working-directory: ./app
